/node_modules
/public/storage
/vendor
/bin
/containers/data
/containers/application/data
/containers/logs/**/*log
/containers/logs/**/messages
/containers/.env
/containers/**/xdebug.ini
/packages
/coverage
/database/testing.sqlite
.php_cs.cache
.env
.env.dusk.*
.idea
build.properties
/hosts.yml
/ssh_keys
TODO
