.box {
  margin: 1em 0;
  padding: 1em 0.5em;
  box-shadow: $default-shadow;

  .page-background-graphic & {
    background: $white;
  }

  @include media-breakpoint-up(sm) {
    background: $white;
    padding: 1em;
    width: 100%;
    margin: 2em 0;
  }

  @include media-breakpoint-up(md) {
    padding: 1em 2em;
    margin: 3em 0;
  }

  @include media-breakpoint-up(lg) {
    padding: 2em 3em;
  }

  @include media-breakpoint-up(xl) {
    padding: 3em 4em;
  }

  &.full-width {
    padding-left: 0;
    padding-right: 0;

    .box-section {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .box-section {
    margin: 0.5em -0.5em;
    padding: 0.5em;

    @include media-breakpoint-up(md) {
      margin: 0 -2em;
      padding: 0.5em 2em;
    }

    @include media-breakpoint-up(lg) {
      margin: 0 -3em;
      padding: 1em 3em;
    }

    @include media-breakpoint-up(xl) {
      margin: 0 -4em;
      padding: 1em 4em;
    }

    .section-header {
      margin-bottom: 0.5em;
    }
  }

  > :last-child {
    margin-bottom: 0;
  }
}
