.home-content {
  .card {
    .card-title.big-heading::after {
      content: '';
      border-bottom: 4px solid $primary;
      width: 32px;
      margin-top: 4px;
      display: block;
    }

    .card-text {
      font-size: 18px;
      line-height: 1.6;
    }
  }

  .separator {
    overflow: hidden;
    height: 50px;
    position: relative;

    @include media-breakpoint-up(xl) {
      height: auto;
    }

    svg {
      height: 100%;
      width: 100%;
    }
  }

  .bg-primary {
    .btn-primary {
      @include button-variant(
        $white,
        $primary,
        lighten($white, 7.5%),
        darken($primary, 10%),
        lighten($white, 10%),
        darken($primary, 12.5%)
      );

      color: $primary;

      @include hover {
        color: darken($primary, 10%);
      }

      &.disabled,
      &:disabled {
        color: darken($primary, 10%);
      }
    }
  }
}

.home-header {
  padding-top: 48px;

  .payoff {
    font-size: 1.5em;
    display: inline-block;
    line-height: 1.4;

    @include media-breakpoint-up(xl) {
      max-width: 50%;
    }
  }

  img {
    z-index: 1;
  }

  .waves {
    overflow: hidden;
    height: 200px;
    margin-top: -10em;
    position: relative;

    @include media-breakpoint-up(lg) {
      margin-top: -2em;
    }

    @include media-breakpoint-up(xl) {
      height: auto;
    }

    svg {
      height: 100%;
      width: 100%;
    }

    .home-forward {
      position: absolute;
      left: calc(50% - 28px);
      top: 6em;
      width: 56px;
      height: 56px;
      background: $primary-a10;
      border-radius: 50%;
      text-align: center;
      display: none;
      transition: all 0.2s ease-in-out;

      @include media-breakpoint-up(lg) {
        display: block;
      }

      svg {
        width: 32px;
        height: 32px;
        position: relative;
        top: 10px;
      }

      &:hover {
        background: darken($primary-a10, 10%);
        text-decoration: none;
      }
    }
  }
}
