.modal {
  .modal-dialog {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;

    @include media-breakpoint-down(xs) {
      margin: 0;
    }
  }

  &.bd-feedback-modal-lg {
    .rating > legend {
      float: left;
    }
  }

  @include media-breakpoint-down(xs) {
    .modal-content {
      height: 100%;

      &.rounded {
        border-radius: 0 !important;
      }
    }
  }
}
