$titillium: "Titillium Web", geneva, tahoma, sans-serif !important;
$monospace: "Roboto Mono", monospace !important;

.swagger-ui {
  font-family: $titillium;

  pre,
  span,
  a,
  div,
  button,
  h2,
  h3,
  h4,
  select,
  option,
  td,
  input,
  p,
  .model-title {
    font-family: $titillium;
  }

  pre {
    overflow: hidden;
  }

  .auth-wrapper {
    display: none !important;
  }

  .model-box {
    span,
    td,
    p {
      font-family: $monospace;
    }
  }
}
