$default-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.25);
$header-center-bg-secondary-color: rgba(0, 89, 179, 1);
$spin: spin 1s linear infinite;

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
