// Variables
//@import "variables";

// Framework
@import "~bootstrap-italia/src/scss/bootstrap-italia.scss";

/* Datatables
  =========== */

.Datatable.responsive {
  width: 100% !important;

  span.dtr-data {
    margin-left: 1.5rem;
  }

  &.dataTable.dtr-column > tbody > tr > td.control::before,
  &.dataTable.dtr-column > tbody > tr > th.control::before {
    font-family: inherit !important;
    line-height: 11px !important;
    font-size: 20px !important;
    background-color: #00264d !important;
  }

  &.dataTable thead th {
    text-align: left;
  }

  &.dataTable tbody td {
    padding: 8px 18px;
  }
}

.dataTables_wrapper {
  .dataTables_filter {
    input {
      border: 1px solid #ccc;
    }
  }

  .dataTables_paginate.paging_simple_numbers {
    .paginate_button {
      min-width: 1em !important;
      padding: 0.1em 0.5em !important;
      color: #00264d !important;
      border: none !important;
      border-radius: unset !important;

      &:hover,
      &:active,
      &.current,
      &.current:hover {
        color: #fff !important;
        background: #00264d !important;
      }
    }
  }
}

