version: '3.7'

volumes:
  application-code:
    external: true
  application-logs:
    external: true

services:
# php-fpm
  php-fpm:
    volumes:
      - application-code:${APP_CODE_PATH_CONTAINER}
      - application-logs:${APP_LOGS_PATH_CONTAINER}

# queue-worker
  queue-worker:
    volumes:
      - application-code:${APP_CODE_PATH_CONTAINER}
      - application-logs:${APP_LOGS_PATH_CONTAINER}

# nginx
  nginx:
    volumes:
      - type: volume
        source: application-code
        target: ${APP_CODE_PATH_CONTAINER}
        volume:
          nocopy: true
      - application-logs:${APP_LOGS_PATH_CONTAINER}

# ipa-redisearch
  ipa-redisearch:
    volumes:
      - ./ipa-redisearch/persistence:/bitnami/redis/data
