// Variables
//@import "variables";

/** Header
  ================ */

.Header {
  position: relative;
  z-index: 40;

  .Header-title {
    line-height: 0.1 !important;
    min-height: 4.8rem;

    @media screen and (max-width: 767px) {
      width: 50% !important;
    }
  }

  .Header-logo {
    @media screen and (max-width: 991px) and (min-width: 768px) {
      width: 12.5% !important;
    }

    @media screen and (max-width: 767px) {
      width: 15% !important;
    }

    img {
      @media screen and (max-width: 350px) {
        height: 3.5rem;
        width: 3.5rem;
        vertical-align: inherit !important;
      }
    }
  }

  .Header-titleLink {
    a {
      font-weight: 600 !important;

      &:hover {
        text-decoration: none !important;
      }

      @media screen and (min-width: 1366px) {
        line-height: 0.8 !important;
      }
    }

    .Header-titlePill {
      font-size: 1.4rem;
      font-weight: 400;
      padding-right: 0.8rem;
      padding-left: 0.8rem;
      border-radius: 2em;
      background-color: #004c99;
      white-space: nowrap;
      vertical-align: middle;

      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    small {
      display: inline !important;

      &:hover {
        text-decoration: none !important;
      }

      @media screen and (max-width: 991px) and (min-width: 768px) {
        font-size: 1.6rem !important;
      }

      @media screen and (max-width: 767px) {
        font-size: 1.2rem !important;
      }
    }
  }

  .Header-institutional {
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
  }

  .Header-auth {
    margin-top: 0.4rem !important;
    text-align: right !important;
    flex-basis: auto !important;
    display: block !important;
    position: relative;

    @media screen and (min-width: 1366px) {
      width: 33.33333% !important;
      margin-left: 16.66667% !important;
    }

    button {
      padding: 0;
      color: #fff;
      background-color: #06c;
      font-weight: 600;
      line-height: 1em;
      text-decoration: none;
      cursor: pointer;
      outline: 0;
      display: inline-block;
      font-size: 0.95em;
      border-radius: 6px;
      border: 0.2rem solid #fff;

      .auth-icon {
        margin: 0 -0.4em 0 0;
        padding: 0.6em 0.8em 0.5em;
        border-right: rgba(255, 255, 255, 0.1) 0.1em solid;
        display: block;
        float: left;

        img {
          width: 29px;
          height: 29px;
          border: 0;
        }

        .auth-icon-text {
          padding: 0.43em 0;
          display: block;
          font-size: 1.15em;
        }
      }

      .auth-text {
        padding: 0.95em 1em 0.85em;
        font-size: 1.15em;
        text-align: center;
        display: block;
        float: left;
      }
    }

    .auth-user-options {
      display: none;
      position: absolute;
      background-color: #fff;
      padding: 10px;
      z-index: 2000;
      margin-top: 16px;
      right: 0;
      border-radius: 5px;
      box-shadow: 0 10px 40px -5px #858585;

      li {
        border: 0 !important;
      }
    }

    @media screen and (max-width: 991px) {
      button {
        .auth-icon,
        .agid-spid-enter-icon {
          margin: 0;
          border: 0;
        }

        .auth-text,
        .agid-spid-enter-text {
          display: none;
        }
      }

      .auth-user-options {
        right: -2em;
      }
    }
  }

  .Header-utils button {
    border: 0.2rem solid #fff;
  }
}

/** Slim Header
   ================ */

.Header-owner {
  border-bottom: 1px solid #127ae2;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  a {
    padding: 0 1rem !important;
    font-weight: initial !important;
  }
}

.Header-slim {
  color: #127ae2 !important;

  li {
    font-weight: 400;
    padding-top: 1.6rem;
    padding-bottom: 1.4rem;
    border-bottom: 0.2rem solid transparent;
    display: inline-block !important;

    &:hover {
      border-bottom: 0.2rem solid currentColor;
    }

    &.current {
      border-bottom: 0.1rem solid currentColor;
      font-weight: 400;
    }

    &.delimiter a {
      border-right: 0.1rem solid #127ae2;
    }
  }
}

/* Megamenu
  =========== */

.Megamenu--default {
  .Megamenu-item:first-child > a {
    padding-left: 3.2rem !important;
  }

  .Megamenu-item > a {
    border-bottom: 0.2rem solid transparent;

    &:hover {
      border-bottom: 0.2rem solid currentColor;
      text-decoration: none !important;
    }
  }

  .Megamenu-item.is-current {
    border-bottom: 0.2rem solid currentColor;
  }

  .Megamenu-item--admin {
    & > a {
      border-top-left-radius: 0.8rem;
      border-top-right-radius: 0.8rem;
      background-color: #0059b3 !important;
    }

    .Megamenu-subnavGroup > li {
      padding-top: 0.4rem !important;
      padding-bottom: 0.8rem !important;
    }

    .Megamenu-subnavGroup > li > a {
      text-transform: none !important;
      font-weight: inherit !important;
      font-size: inherit !important;
    }
  }
}

/* Footer
  ========== */

.Footer {
  .Footer-logo {
    height: 2.2em;
    padding: 0 !important;
  }

  .Footer-logo-container--owner {
    @media screen and (min-width: 992px) {
      padding-top: 2.3em;
    }
  }

  .Footer-logo-separator {
    border-left: 0.1em solid #fff;
    margin: 0 0.3em;
    font-size: 1.2em;
    vertical-align: middle;
  }

  .Footer-logo-separator--partner {
    border-left: 0.05em solid #fff;
    margin: 0 0.3em;
    font-size: 1.4em;
    vertical-align: middle;
  }

  .Owner-name {
    display: inline-block;
    width: 7em;
    vertical-align: middle;
  }

  .Partner-name {
    display: inline-block;
    width: 10em;
    font-size: 0.7em;
    vertical-align: middle;
    text-transform: uppercase;
  }

  .Footer-notes li {
    @media screen and (min-width: 992px) {
      margin-top: 0;
      margin-left: 3.2rem !important;
      margin-right: 0 !important;
    }

    margin-right: 0 !important;
    display: inline-block !important;
    max-width: 100%;
    font-size: small;
    margin-top: 1rem;
  }

  .Footer-links li {
    @media screen and (min-width: 992px) {
      margin-right: 3.2rem !important;
    }

    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
  }

  .Social > ul,
  .Footer-links > ul {
    @media screen and (min-width: 992px) {
      width: auto;
    }

    width: 100%;
  }

  .Footer-notes li a {
    color: #5a6772 !important;
    font-weight: 200 !important;
    text-decoration: underline !important;
    font-size: small !important;
  }

  .Social,
  .Footer-links {
    @media screen and (min-width: 992px) {
      text-align: left;
    }

    text-align: center !important;
  }
}

/* Form
  ========== */

.Form-input.is-disabled,
.Form-input:disabled {
  cursor: not-allowed !important;
  background-color: #eee !important;
}

/* Breadcrumbs
  ============= */

.Breadcrumb {
  margin-bottom: 1em;
}

/* Utilities and overrides
  ======================== */

.hide-focus :focus,
.hide-focus :focus:focus {
  outline: none !important;
  box-shadow: none !important;
}

:focus {
  box-shadow: none !important;
  outline: 3px solid #ff8c00 !important;
}

.Alert--withIcon {
  background-position: 1em center !important;
  padding-bottom: 0.5em;

  p.u-text-p {
    line-height: 2 !important;
  }
}

pre,
code {
  overflow-x: scroll;
}

.Prose a[href^='http://']:not(.Button)::after,
.Prose a[href^='https://']:not(.Button)::after {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "ita" !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-size: 0.7em;
  font-variant: normal;
  font-weight: 600;
  line-height: 1;
  speak: none;
  text-transform: none;
  content: " \1f59d";
}

.Linklist li {
  border-top: none !important;
  border-bottom: 0.1rem solid currentColor !important;
}

.Accordion--default .Accordion-link:hover {
  text-decoration: none !important;
}

table {
  a,
  a:visited {
    color: #06c;
  }
}

.Button--default {
  color: #004a4d !important;
}

/* Headings
  =========== */

.u-text-h1 {
  font-size: 3.5rem !important;
}

/* Forms
  ====== */

.Form {
  max-width: 40em;
}

/* Definition lists
  ================= */

.DescriptionList {
  margin-bottom: 2.4rem;

  .DescriptionList-Term {
    font-weight: 600;
  }

  .DescriptionList-Description {
    margin: 0 0 1.2rem 2.4rem;
  }
}

/* Autocomplete
  ============= */

.autocomplete-suggestion {
  padding: 0.6em 0.6em !important;
  border-bottom: 0.05em solid #ccc;

  &:last-of-type {
    border-bottom: 0;
  }
}

/* Skiplinks
  ========== */

.js-fr-bypasslinks {
  top: -36px !important;

  a:focus {
    top: 36px;
  }
}

/* Datatables
  =========== */

.Datatable.responsive {
  width: 100% !important;

  span.dtr-data {
    margin-left: 1.5rem;
  }

  &.dataTable.dtr-column > tbody > tr > td.control::before,
  &.dataTable.dtr-column > tbody > tr > th.control::before {
    font-family: inherit !important;
    line-height: 11px !important;
    font-size: 20px !important;
    background-color: #00264d !important;
  }

  &.dataTable thead th {
    text-align: left;
  }

  &.dataTable tbody td {
    padding: 8px 18px;
  }
}

.dataTables_wrapper {
  .dataTables_filter {
    input {
      border: 1px solid #ccc;
    }
  }

  .dataTables_paginate.paging_simple_numbers {
    .paginate_button {
      min-width: 1em !important;
      padding: 0.1em 0.5em !important;
      color: #00264d !important;
      border: none !important;
      border-radius: unset !important;

      &:hover,
      &:active,
      &.current,
      &.current:hover {
        color: #fff !important;
        background: #00264d !important;
      }
    }
  }
}
