APP_NAME="Web Analytics Italia"
APP_ENV=@ENV@
APP_KEY=
APP_SALT=@APP_SALT@
APP_DEBUG=@APP_DEBUG@
APP_URL=https://@HOSTNAME@
APP_VERSION=@APP_VERSION@

LOG_CHANNEL=stack

CRON_AUTH_TOKEN=@CRON_TOKEN@

PENDING_WEBSITE_WARNING=@PENDING_WEBSITE_WARNING@
PENDING_WEBSITE_REMOVE=@PENDING_WEBSITE_REMOVE@

ARCHIVING_WEBSITE_WARNING=@ARCHIVING_WEBSITE_WARNING@
ARCHIVING_WEBSITE_ARCHIVE=@ARCHIVING_WEBSITE_ARCHIVE@
ARCHIVING_WEBSITE_NOTIFICATION_WEEK_DAY=@ARCHIVING_WEBSITE_NOTIFICATION_WEEK_DAY@
ARCHIVING_WEBSITE_DAILY_NOTIFICATION=@ARCHIVING_WEBSITE_DAILY_NOTIFICATION@

DB_CONNECTION=mysql
DB_HOST=mariadb
DB_PORT=3306
DB_DATABASE=@MARIADB_DATABASE@
DB_USERNAME=@MARIADB_USER@
DB_PASSWORD=@MARIADB_PASSWORD@

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_CONNECTION=sessions
QUEUE_CONNECTION=redis

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_QUEUE=default
REDIS_REDISEARCH_DB=0
REDIS_CACHE_DB=1
REDIS_SESSIONS_DB=2
REDIS_QUEUE_DB=2

MAIL_DRIVER=smtp
MAIL_HOST=@MAIL_HOST@
MAIL_PORT=@MAIL_PORT@
MAIL_USERNAME=@MAIL_USERNAME@
MAIL_PASSWORD=@MAIL_PASSWORD@
MAIL_ENCRYPTION=@MAIL_ENCRYPTION@

PEC_HOST=@PEC_HOST@
PEC_PORT=@PEC_PORT@
PEC_USERNAME=@PEC_USERNAME@
PEC_PASSWORD=@PEC_PASSWORD@
PEC_ENCRYPTION=@PEC_ENCRYPTION@

SPID_SP_PRIVATE_KEY=@SPID_SP_PRIVATE_KEY@
SPID_SP_CERTIFICATE=@SPID_SP_CERTIFICATE@

ANALYTICS_ADMIN_TOKEN=@ANALYTICS_ADMIN_TOKEN@
ANALYTICS_API_BASE_URL=@ANALYTICS_API_BASE_URL@
ANALYTICS_API_SSL_VERIFY=@ANALYTICS_API_SSL_VERIFY@
ANALYTICS_PUBLIC_URL=@ANALYTICS_PUBLIC_URL@
