APP_NAME="Web Analytics Italia"
APP_NAME_SHORT="WAI"
APP_ENV=@ENV@
APP_KEY=
APP_SALT=@APP_SALT@
APP_DEBUG=@APP_DEBUG@
APP_CLOSED_BETA_ENABLED=@APP_CLOSED_BETA_ENABLED@
APP_CUSTOM_PUBLIC_ADMINISTRATIONS_ENABLED=@APP_CUSTOM_PUBLIC_ADMINISTRATIONS_ENABLED@
APP_URL=https://@HOSTNAME@
APP_API_VERSION=@APP_API_VERSION@

RESET_PUBLIC_PLAYGROUND_DAY_VERBOSE=@RESET_PUBLIC_PLAYGROUND_DAY_VERBOSE@
RESET_PUBLIC_PLAYGROUND_DAY=@RESET_PUBLIC_PLAYGROUND_DAY@
RESET_PUBLIC_PLAYGROUND_HOUR=@RESET_PUBLIC_PLAYGROUND_HOUR@
RESET_PUBLIC_PLAYGROUND_MINUTE=@RESET_PUBLIC_PLAYGROUND_MINUTE@

APP_SUPER_ADMIN_NAME=@APP_SUPER_ADMIN_NAME@
APP_SUPER_ADMIN_FAMILY_NAME=@APP_SUPER_ADMIN_FAMILY_NAME@
APP_SUPER_ADMIN_FISCAL_NUMBER=@APP_SUPER_ADMIN_FISCAL_NUMBER@
APP_SUPER_ADMIN_EMAIL=@APP_SUPER_ADMIN_EMAIL@
APP_SUPER_ADMIN_PASSWORD=@APP_SUPER_ADMIN_PASSWORD@

LOG_CHANNEL=stack
LOG_STACK_CHANNELS=@LOG_STACK_CHANNELS@
LOG_SLACK_WEBHOOK_URL=@LOG_SLACK_WEBHOOK_URL@
LOG_SLACK_USERNAME=@LOG_SLACK_USERNAME@
LOG_SLACK_WEBHOOK_URL_EXTRA_CHANNEL=@LOG_SLACK_WEBHOOK_URL_EXTRA_CHANNEL@
LOG_SLACK_USERNAME_EXTRA_CHANNEL=@LOG_SLACK_USERNAME_EXTRA_CHANNEL@

CLOSED_BETA_WHITELIST_WEBHOOK_CLIENT_SECRET=@CLOSED_BETA_WHITELIST_WEBHOOK_CLIENT_SECRET@
CLOSED_BETA_WHITELIST_REPOSITORY_FULL_NAME=@CLOSED_BETA_WHITELIST_REPOSITORY_FULL_NAME@
CLOSED_BETA_WHITELIST_REPOSITORY_BRANCH=@CLOSED_BETA_WHITELIST_REPOSITORY_BRANCH@
CLOSED_BETA_WHITELIST_REPOSITORY_FILE_NAME=@CLOSED_BETA_WHITELIST_REPOSITORY_FILE_NAME@

CRON_AUTH_TOKEN=@CRON_TOKEN@

PENDING_WEBSITE_WARNING=@PENDING_WEBSITE_WARNING@
PENDING_WEBSITE_REMOVE=@PENDING_WEBSITE_REMOVE@

ARCHIVING_WEBSITE_WARNING=@ARCHIVING_WEBSITE_WARNING@
ARCHIVING_WEBSITE_ARCHIVE=@ARCHIVING_WEBSITE_ARCHIVE@
ARCHIVING_WEBSITE_NOTIFICATION_INTERVAL=@ARCHIVING_WEBSITE_NOTIFICATION_INTERVAL@
PRIMARY_WEBSITE_NOT_TRACKING_NOTIFICATION_WEEK_DAY=@PRIMARY_WEBSITE_NOT_TRACKING_NOTIFICATION_WEEK_DAY@
ARCHIVING_WEBSITE_DAILY_NOTIFICATION=@ARCHIVING_WEBSITE_DAILY_NOTIFICATION@

DB_CONNECTION=mysql
DB_HOST=mariadb
DB_PORT=3306
DB_DATABASE=@MARIADB_DATABASE@
DB_USERNAME=@MARIADB_USER@
DB_PASSWORD=@MARIADB_PASSWORD@

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
CACHE_CONNECTION=@CACHE_CONNECTION@
SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_CONNECTION=@SESSION_CONNECTION@
SESSION_SECURE_COOKIE=@SESSION_SECURE_COOKIE@
SESSION_ENCRYPT=@SESSION_ENCRYPT@
QUEUE_CONNECTION=redis
QUEUE_REDIS_CONNECTION=@QUEUE_REDIS_CONNECTION@

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_QUEUE=default
REDIS_SENTINELS=@REDIS_SENTINELS@
REDIS_SENTINEL_SET=@REDIS_SENTINEL_SET@
REDIS_INDEXES_USE_SENTINELS=@REDIS_INDEXES_USE_SENTINELS@
REDIS_IPA_INDEX_HOST=ipa-redisearch
REDIS_IPA_INDEX_PASSWORD=null
REDIS_IPA_INDEX_PORT=6379
REDIS_IPA_INDEX_USE_SENTINELS=@REDIS_IPA_INDEX_USE_SENTINELS@
REDIS_IPA_INDEX_SENTINELS=@REDIS_IPA_INDEX_SENTINELS@
REDIS_IPA_INDEX_SENTINEL_SET=@REDIS_IPA_INDEX_SENTINEL_SET@
REDIS_CACHE_DB=1
REDIS_SESSIONS_DB=2
REDIS_QUEUE_DB=3

MAIL_DRIVER=smtp
MAIL_HOST=@MAIL_HOST@
MAIL_PORT=@MAIL_PORT@
MAIL_USERNAME=@MAIL_USERNAME@
MAIL_PASSWORD=@MAIL_PASSWORD@
MAIL_ENCRYPTION=@MAIL_ENCRYPTION@
MAIL_FROM_ADDRESS=noreply@webanalytics.italia.it
MAIL_FROM_NAME="Web Analytics Italia"

PEC_HOST=@PEC_HOST@
PEC_PORT=@PEC_PORT@
PEC_USERNAME=@PEC_USERNAME@
PEC_PASSWORD=@PEC_PASSWORD@
PEC_ENCRYPTION=@PEC_ENCRYPTION@

SPID_SP_ENTITY_ID=@SPID_SP_ENTITY_ID@
SPID_SP_ACS_INDEX=@SPID_SP_ACS_INDEX@
SPID_SP_ATTRIBUTES_INDEX=@SPID_SP_ATTRIBUTES_INDEX@
SPID_SP_PRIVATE_KEY=@SPID_SP_PRIVATE_KEY@
SPID_SP_CERTIFICATE=@SPID_SP_CERTIFICATE@

SPID_TESTENV_ENABLED=@SPID_TESTENV_ENABLED@
SPID_TESTENV_ENTITY_ID=@SPID_TESTENV_ENTITY_ID@
SPID_TESTENV_SSO=@SPID_TESTENV_SSO@
SPID_TESTENV_SLO=@SPID_TESTENV_SLO@
SPID_TESTENV_CERT=@SPID_TESTENV_CERT@
SPID_VALIDATOR_IDP_ENABLED=@SPID_VALIDATOR_IDP_ENABLED@
SPID_VALIDATOR_IDP_ENTITY_ID=@SPID_VALIDATOR_IDP_ENTITY_ID@
SPID_VALIDATOR_IDP_SSO=@SPID_VALIDATOR_IDP_SSO@
SPID_VALIDATOR_IDP_SLO=@SPID_VALIDATOR_IDP_SLO@
SPID_VALIDATOR_IDP_CERT=@SPID_VALIDATOR_IDP_CERT@

MATOMO_WIDGETS_URL=@MATOMO_WIDGETS_URL@

ANALYTICS_ADMIN_TOKEN=@ANALYTICS_ADMIN_TOKEN@
ANALYTICS_API_BASE_URL=@ANALYTICS_API_BASE_URL@
ANALYTICS_API_SSL_VERIFY=@ANALYTICS_API_SSL_VERIFY@
ANALYTICS_PUBLIC_URL=@ANALYTICS_PUBLIC_URL@
ANALYTICS_PUBLIC_DASHBOARD_ID=@ANALYTICS_PUBLIC_DASHBOARD_ID@
ANALYTICS_CRON_ARCHIVING_ENABLED=@MATOMO_CRON_ARCHIVING_ENABLED@

SDG_API_PUBLIC_URL=@SDG_API_PUBLIC_URL@
SDG_API_SSL_VERIFY=@SDG_API_SSL_VERIFY@
SDG_API_KEY=@SDG_API_KEY@
SDG_STORAGE_DIRECTORY=@SDG_STORAGE_DIRECTORY@
SDG_STORAGE_DISK=@SDG_STORAGE_DISK@
SDG_URLS_FILE_FORMAT=@SDG_URLS_FILE_FORMAT@
SDG_COLUMN_INDEX_URL_CSV=@SDG_COLUMN_INDEX_URL_CSV@
SDG_COLUMN_SEPARATOR_CSV=@SDG_COLUMN_SEPARATOR_CSV@
SDG_URL_ARRAY_PATH_JSON=@SDG_URL_ARRAY_PATH_JSON@
SDG_URL_KEY_JSON=@SDG_URL_KEY_JSON@

ELASTICSEARCH_USER=@ELASTICSEARCH_USER@
ELASTICSEARCH_PASSWORD=@ELASTICSEARCH_PASSWORD@
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_INDEX_NAME=@ELASTICSEARCH_INDEX_NAME@
ELASTICSEARCH_IGNORE_EXCEPTIONS=@ELASTICSEARCH_IGNORE_EXCEPTIONS@
ELASTICSEARCH_SEARCH_TEMPLATE_NAME=@ELASTICSEARCH_SEARCH_TEMPLATE_NAME@

TRACKING_MATOMO_ID=@TRACKING_MATOMO_ID@
TRACKING_GA_ID=@TRACKING_GA_ID@
TRACKING_HOTJAR_ID=@TRACKING_HOTJAR_ID@

# Kong Service
KONG_VERSION=@KONG_VERSION@
KONG_ADMIN_API_URL=@KONG_ADMIN_API_URL@
KONG_API_URL=@KONG_API_URL@
KONG_API_PORTAL_BASE_PATH=@KONG_API_PORTAL_BASE_PATH@

# Postgres Kong
POSTGRES_PASSWORD=@POSTGRES_PASSWORD@
POSTGRES_USER=@POSTGRES_USER@
POSTGRES_DATABASE=@POSTGRES_DATABASE@
