# Web Analytics Italia development containers setup

## Environment
ENV=@ENV@

## Paths

### Point to the path of your applications code, logs and storage on your host and containers
APP_CODE_PATH_HOST=../
APP_CODE_PATH_CONTAINER=@APP_CODE_PATH_CONTAINER@
APP_LOGS_PATH_HOST=./logs
APP_LOGS_PATH_CONTAINER=/var/log
APP_STORAGE_PATH_HOST=../storage
APP_STORAGE_PATH_CONTAINER=@APP_CODE_PATH_CONTAINER@/storage

### Choose storage path on your machine. For all storage systems
DATA_PATH_HOST=./data

## Docker compose project
COMPOSE_PROJECT_NAME=wai

## PHP Version

### Select a PHP version.
PHP_VERSION=@PHP_VERSION@

## Docker Host IP

### Enter your Docker Host IP (will be appended to /etc/hosts)
DOCKER_HOST_IP=172.17.0.1

## Containers parameters

### php-fpm
PHP_FPM_INSTALL_XDEBUG=@APP_DEBUG@

### nginx
NGINX_PORTAL_HTTP_PORT=80
NGINX_PORTAL_HTTPS_PORT=443
NGINX_MATOMO_HTTP_PORT=8090
NGINX_MATOMO_HTTPS_PORT=9443
NGINX_PHP_UPSTREAM_CONTAINER=php-fpm
NGINX_PHP_UPSTREAM_PORT=9000
ALLOWED_ANCESTORS=https://@HOSTNAME@

### mariadb
MARIADB_DATABASE=@MARIADB_DATABASE@
MARIADB_USER=@MARIADB_USER@
MARIADB_PASSWORD=@MARIADB_PASSWORD@
MARIADB_ROOT_PASSWORD=@MARIADB_ROOT_PASSWORD@

### phpmyadmin
PMA_PORT=8080

### matomo
MATOMO_DB_READER=@MATOMO_DB_READER@
MATOMO_DB_USER=@MATOMO_DB_USER@
MATOMO_DB_PASSWORD=@MATOMO_DB_PASSWORD@
MATOMO_ROOT_USER=@MATOMO_ROOT_USER@
MATOMO_ROOT_PASSWORD=@MATOMO_ROOT_PASSWORD@
MATOMO_ROOT_APIKEY=@MATOMO_ROOT_APIKEY@
MATOMO_VERSION=@MATOMO_VERSION@
MATOMO_WAI_THEME_VERSION=@MATOMO_WAI_THEME_VERSION@
MATOMO_CRON_ARCHIVING_ENABLED=@MATOMO_CRON_ARCHIVING_ENABLED@
MATOMO_PHPREDIS_VERSION=@MATOMO_PHPREDIS_VERSION@
MATOMO_PLUGIN_DISABLESITETRACKING_VERSION=@MATOMO_PLUGIN_DISABLESITETRACKING_VERSION@
MATOMO_PLUGIN_QUEUEDTRACKING_VERSION=@MATOMO_PLUGIN_QUEUEDTRACKING_VERSION@
MATOMO_PLUGIN_PROTECTTRACKID_VERSION=@MATOMO_PLUGIN_PROTECTTRACKID_VERSION@
MATOMO_PLUGIN_CUSTOMDIMENSIONS_VERSION=@MATOMO_PLUGIN_CUSTOMDIMENSIONS_VERSION@
MATOMO_PLUGIN_LOGINFILTERIP_VERSION=@MATOMO_PLUGIN_LOGINFILTERIP_VERSION@
MATOMO_PLUGIN_TRACKERHOSTNAME_VERSION=@MATOMO_PLUGIN_TRACKERHOSTNAME_VERSION@
MATOMO_PLUGIN_VISITORGENERATOR_VERSION=@MATOMO_PLUGIN_VISITORGENERATOR_VERSION@
MATOMO_PLUGIN_RESETDATABASE_VERSION=@MATOMO_PLUGIN_RESETDATABASE_VERSION@
MATOMO_PLUGIN_SUPERUSERONLYRESTRICTIONS_VERSION=@MATOMO_PLUGIN_SUPERUSERONLYRESTRICTIONS_VERSION@
MATOMO_PLUGIN_SUPERUSERONLYRESTRICTIONS_ENABLED=@MATOMO_PLUGIN_SUPERUSERONLYRESTRICTIONS_ENABLED@
MATOMO_WAI_URL=@HOSTNAME@
MATOMO_INGESTION_HOSTNAME=@MATOMO_INGESTION_HOSTNAME@
MATOMO_PLUGIN_UPDATEEXPOSEDFQDNLIST_VERSION=@MATOMO_PLUGIN_UPDATEEXPOSEDFQDNLIST_VERSION@
MATOMO_PLUGIN_UPDATEEXPOSEDFQDNLIST_REDIS_HOST=@MATOMO_PLUGIN_UPDATEEXPOSEDFQDNLIST_REDIS_HOST@
MATOMO_PLUGIN_UPDATEEXPOSEDFQDNLIST_REDIS_PORT=@MATOMO_PLUGIN_UPDATEEXPOSEDFQDNLIST_REDIS_PORT@
MATOMO_PLUGIN_UPDATEEXPOSEDFQDNLIST_REDIS_DB_INDEX=@MATOMO_PLUGIN_UPDATEEXPOSEDFQDNLIST_REDIS_DB_INDEX@

### mailhog
MAILHOG_HTTP_PORT=8025

### SPID testenv
SPID_TESTENV_PORT=8088

### ElasticSearch
ELASTICSEARCH_VERSION=@ELASTICSEARCH_VERSION@
ELASTICSEARCH_INDEX_PREFIX=@ELASTICSEARCH_INDEX_PREFIX@
ELASTICSEARCH_INDEX_TEMPLATE_NAME=@ELASTICSEARCH_INDEX_TEMPLATE_NAME@
ELASTICSEARCH_INDEX_NAME=@ELASTICSEARCH_INDEX_NAME@
ELASTICSEARCH_SEARCH_TEMPLATE_NAME=@ELASTICSEARCH_SEARCH_TEMPLATE_NAME@
KIBANA_VERSION=@KIBANA_VERSION@
KIBANA_PORT=5601

### RedisSentinel
REDIS_SENTINEL_SET=@REDIS_SENTINEL_SET@
REDIS_IPA_INDEX_SENTINEL_SET=@REDIS_IPA_INDEX_SENTINEL_SET@

# Kong Service
KONG_VERSION=@KONG_VERSION@
KONG_API_PORTAL_BASE_PATH=@KONG_API_PORTAL_BASE_PATH@
KONG_API_MATOMO_BASE_PATH=@KONG_API_MATOMO_BASE_PATH@

# Postgres Kong
POSTGRES_PASSWORD=@POSTGRES_PASSWORD@
POSTGRES_USER=@POSTGRES_USER@
POSTGRES_DATABASE=@POSTGRES_DATABASE@
